.contact-section {
    width: 100vw;
    min-height: calc(100vh - 60px);
    padding: 0 5vw;
    height: auto;
    background-color: #222831;
    color: #EEE;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.section-title {
    margin-top: 40px;
    padding-left: 8px;
    border-left: 8px solid darkorange;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container img {
    width: 100%;
    margin-bottom: 20px;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-info a {
    color: #EEE;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.2em;
    width: fit-content;
}

@media (min-width: 1000px) {
    .contact-section {
        width: 100vw;
        padding: 0 15vw;
    }
    .contact-container {
        flex-direction: row;
    }
    .contact-container img {
        width: 50%;
    }
    .contact-info {
        width: 50%;
    }
    .contact-info a:hover {
        color: darkorange;
    }
}