.skills-section {
    width: 100vw;
    padding: 0 5vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #222831;
    color: #EEE;
}

.skills-img {
    display: none;
    height: 90;
    margin: 0 auto;
}

.section-title {
    margin: 40px 0;
    padding-left: 8px;
    border-left: 8px solid darkorange;
}

.skills-container {
    display: flex;
}

/* .tech-type::before {
    position: relative;
    display: block;
    top: 1.35em;
    width: 4.5em;
    height: 2px;
    content: "";
    background-color: darkorange;
} */

.text-container {
    display: flex;
    flex-direction: column;
}

.tech-icon {
    height: 2em;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    font-size: 1em;
}

@media (min-width: 1000px) {
    .skills-section {
    width: 100vw;
    padding: 0 15vw;
}
    .skills-img {
        display: block;
        height: 90%;
    }
    .tech-icon {
        height: 20pt;
        margin-right: 10px;
    }
    .text-container {
        width: 50%;
    }
    .tech-type {
        margin: 0;
    }
}