.about-section {
    width: 90vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.section-title {
    margin: 40px 0;
    padding-left: 8px;
    border-left: 8px solid darkorange;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-img {
    width: 100%;
    margin: 0px 0;
}

.about-text {
    text-indent: 3em;
    font-weight: 300;
    font-size: 1em;
}

@media (min-width: 1000px) {
    .about-section {
        width: 70vw;
    }
    .about-container {
        flex-direction: row;
    }
    .about-img {
        width: 50%;
        margin: 0 40px 0 0;
    }
    .about-text {
        font-size: 1em;
    }
}