body {
    margin: 0;
    padding: 0px;
    color: #24241f;
    overflow-x: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background-color: darkorange;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkorange;
    border-radius: 10px;
  }